.vscode
// bin
images
// lib
node_modules
src
test_setup
.gitignore
// .npmignore
.jest.preprocessor.js
// LICENSE
package-lock.json
// package.json
// README.md
tsconfig.json
tslint.json

# Global ignore
__tests__
__mocks__
